@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #344E41; 
    --secondary-color: #dad7cd; 
    --accent-color: #3A5A40;
}


body{
    font-family:"Roboto",sans-serif;
}

@layer components {

    /* CUSTOM CLASS FOR GLASS-LIKE BACKGROUND */
    .glass {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        text-align: center;
      }

      /* BACKGROUND SETTINGS */

      .bg-main{
        background: linear-gradient(180deg, rgba(218, 215, 205, 1) 0%, rgba(163, 177, 138, 1) 100%);
      }
      .bg-primary{
        
        background-color: rgb(226 232 240);

      }
      .bg-accent{
        background-color: var(--accent-color);
      }
      .bg-secondary{
        background-color: var(--secondary-color);
      }

      /* FONT SETTINGS */


     /* Fonts */
      .poppins{
        font-family:"Poppins",sans-serif;
      }
      .roboto{
        font-family:"Robot", sans-serif;
      }

      /* Colors */
      .font-primary-color{
        color:var(--primary-color)
      }

    .menu-item{
        background-color: #e0e7ff; /* bg-indigo-100 */
        padding: 0.5rem; /* p-8 */
        padding-block:2rem;
        border-radius: 0.375rem; /* rounded-md */
        display: flex; /* flex */
        align-items: center; /* items-center */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
        justify-content: center;
        transition: transform 150ms ease-in-out; /* transition-transform */
        transition-delay: 100ms; /* delay-100 */
        font-size:1.125rem;
        gap:1rem;
      }
      
      @media (min-width: 1280px) { /* xl breakpoint */
        .menu-item {
          flex-direction:column-reverse;
          align-items:center;
        }
      }
      
      .menu-item:hover {
        transform: scale(0.95); /* hover:scale-95 */
      }
      
  
  
}